<!doctype html>
<html ng-app="app">

<head>

    <title>Instance</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/style.css" />

</head>

<body ng-controller="change">
    <div class="jumbotron container">
        <h1><u>Instance helper</u></h1>
        <form>
            <div class="form-group">
                <label for="url">Endpoint url</label>
                <input ng-model="url" class="form-control" id="url" />
            </div>
            <div class="form-group">
                <label for="vpi">Premium vendorProductId</label>
                <input ng-model="vpi" class="form-control" id="vpi" />
            </div>
            <br />
            <div class="btn-group" role="group">
                <button class="btn btn-primary" ng-click="showInstance()">Show Instance</button>
                <button class="btn btn-primary" ng-click="replace()">Replace</button>
            </div>
            <div class="form-group" ng-show="res">
                <label for="res">Premium url</label>
                <textarea rows="10" class="form-control" ng-model="res" id="res"></textarea>
                <button class="btn btn-link" ng-click="select()">Select & Copy</button>
            </div>
            <div class="form-group" ng-show="instance">
                <pre>{{instance | json}}</pre>
            </div>

        </form>
    </div>
</body>

</html>
