<!doctype html>
<html ng-app="app">

<head>

    <title>Hive</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/app.js"></script>
    <script src="/static/controllers/hive.js"></script>
    <script type="text/javascript" src="//static.parastorage.com/services/js-sdk/1.68.0/js/wix.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/style.css" />

</head>

<body ng-controller="hive">
    <div class="jumbotron container mainbox col-md-4 col-md-offset-4">
        <h1><u>HTTP API Helper</u></h1><br />
        <form class=>
            <div class="form-group">
                <label for="type">Request Type</label>
                <select id="type" class="form-control" ng-model="hive.requestType" ng-init="hive.requestType = 'GET'" ng-options="type for type in hive.requestTypes"></select>
            </div>
            <div class="form-group">
                <label for="url">Url</label>
                <select class="form-control" ng-model="hive.relativeUrl" ng-init="hive.relativeUrl = '/contacts'" ng-options="url for url in hive.request[hive.requestType]" id="url"></select>
            </div>
            <div class="form-inline form-group" ng-show="hive.requestType == 'POST'">
              <h3>Post Body</h3>
              <div ng-repeat="body in hive.postBody">
                <label>Key</label>
                <input ng-model="body.key" class="form-control" />
                <label>Value</label>
                <input ng-model="body.value" class="form-control" />
                <button class="btn btn-xs" ng-click="hive.removeBodyObj(body)">
                  -
                </button>
              </div>
              <button class="btn btn-xs" ng-click="hive.addBodyObj()">
                +
              </button>
            </div>
            <div class="form-inline form-group">
              <h3>Query Parameters</h3>
              <div ng-repeat="query in hive.queryParams">
                <label>Key</label>
                <input ng-model="query.key" class="form-control" />
                <label>Value</label>
                <input ng-model="query.value" class="form-control" />
                <button class="btn btn-xs" ng-click="hive.removeQueryParam(query)">
                  -
                </button>
              </div>
              <button class="btn btn-xs" ng-click="hive.addQueryParam()">
                +
              </button>
            </div>
            <div class="form-group">
                <label for="vpi">AppId</label>
                <input ng-model="hive.appId" class="form-control" id="vpi" />
            </div>
            <div class="form-group">
                <label>App secret key</label>
                <input ng-model="hive.secretKey" class="form-control" />
            </div>
            <div class="form-group">
                <label>InstanceId</label>
                <input ng-model="hive.instanceId" class="form-control" />
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-primary" ng-click="hive.sendHiveGet()">Send Request</button>
            </div>
            <br />
            <pre ng-show="hive.response">{{hive.response | json}}</pre>
        </form>

    </div>

</body>

</html>
